xport==3.6.1
numpy==1.26.4
pip==23.3
click==8.1.3
certifi>=2024.7.4
frozendict~=2.3.4
python-dateutil~=2.7.0
setuptools>=65.5.1<81
typing_extensions~=4.3.0
urllib3~=2.2.2
pyyaml==6.0
setproctitle==1.3.2
sqlalchemy>=2.0.0
psycopg2
sentry-sdk
labkey==2.6.1
python-json-logger
sqlglot===25.24.5
PyMySQL===1.1.1
pyhive==0.7.0
pure-sasl==0.6.2
thrift==0.21.0
thrift-sasl==0.4.3
psutil==7.0.0
